<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platform Modernization Program</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pageone.css') }}">
</head>
<body>
    <div class="overlay">
        <div class="container">
            <div class="text-content">
                <h1><span class="highlight">Platform Modernization</span> Program</h1>
                <p>It's time to get smarter,<br>
                by making smarter choices,<br>
                in order to make smarter moves!</p>
            </div>
            <div class="getstarted-box">
                <img src="../static/pwc_logo.png" alt="PWC Logo" class="logo">
                <a href="/pagetwo"><button class="getstarted-button">Get Started</button></a>
            </div>
        </div>
    </div>
</body>
</html>
